
@{
    ViewBag.Title = "Html Helpers";
}

<h2>HTML Helpers</h2>
<h3>Autocomplete</h3>
<a href="@Url.Action("Autocomplete","HtmlHelper")">Autocomplete</a>
<h3>Postback Issue</h3>
<a href="@Url.Action("PostBackIssue","HtmlHelper")">Postback Issue</a>


